/*Diseño de fondo*/
body{
    background-color: #040404;
    background-image: url("https://i.redd.it/5pr2d6fopii31.jpg");
}

/*Diseño header*/
.header{
    color: #ffffff;
    display: inline-table;
    width: 100%;
    height: 130px;

}
h1{
    text-align: right;
    height: 10px;
    left: 555px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
}
h2{
    text-align: right;
    height: 10px;
    left: 655px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;

    color: #FFFCFC;
}
 /*diseño menú*/
#menu{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    background-color: #8D425D;
    width: 100%;
    height: 50px;
    left: -1px;
    top: 180px;
}
li {
  border-right: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: -webkit-sticky; /* Safari */
  position: sticky;
}
.nav li a{
    background-color: #8D425D;
    color: #000000;
    text-decoration: none;
    padding: 15px 15px;
    display: block;



}
.nav li a:hover{
    background-color: #E6C8C6;
}
.nav > li{
    float: left;
}
.nav li ul{
    display:none;
    position:absolute;
    min-width: 140px;
}
.nav li:hover > ul{
    display: block;
}
.nav li ul li{
    position: relative;
}
.nav li ul li ul{
    right: -140px;
    top: 0px;
}
