/*Diseño de fondo*/
*{
    background-color: #040404;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
/*Diseño header*/
header{
    width: 100%;
    height: 20vh;
    position: sticky;
}
h1{
    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    color: #FFFCFC;
}
h2{
    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;

    color: #FFFCFC;
}

 /*diseño menú*/
.menu{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #8D425D;
    width: 100%;
    height: 7vh;
    position: sticky;
}
.busqueda{
  background-color: #ffffff;
  height: 4vh;
  width: 15vw;
  margin-top: 9px;
  margin-right: 15px;
  border: solid;
  border-radius: 5px;

  font-size: 16px;
}
li {
  border-bottom:1px solid #8D425D;
  overflow: hidden;
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: -webkit-sticky; /* Safari */
  position: relative;

}
.nav li a{
    background-color: #8D425D;
    color: #000000;
    text-decoration: none;
    padding: 15px 15px;
    display: block;
}
.nav li a:hover{
    background-color: #E6C8C6;
}
.nav > li{
    float: left;
}
.nav li ul{
    display:none;
    position:absolute;
    min-width: 140px;
}
.nav li:hover > ul{
    display: block;
}
.nav li ul li{
    position: relative;
}
.nav li ul li ul{
    right: -140px;
    top: 0px;
}

/*Diseño para la caja de contenido*/
.flexbox{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  align-content: space-around;

  background-image: url("schroddinger-cats.jpg");
  width: 100%;
  height: 170vh;
}
.flexbox > div{

  border: 1px auto;
  margin: 0 auto;
  text-align: center;
  width: 400px;
  height: 450px;
  line-height: 75px;
  font-size: 16px;
  background-color: floralwhite;
}

/*Diseño para area de Cable interdimensional*/
.inter{
    width: 100%;
    height: 100vh;
    background-image: url("https://i.imgflip.com/1mqus2.jpg");
}
iframe {
	position: absolute;
	top: 0;
    left: 0;
	width: 560px;
    height: 315px;
}
/*Diseño pie de página*/
footer{
    width: 100%;
    height: 10vh;
}
address{
    text-align: center;
    color: #E6C8C6;
}


/*Diseño para la modal box*/
