/*Diseño de fondo*/
*{
    background-color: #040404;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
/*Diseño header*/
header{
    width: 100%;
    height: 20vh;
    position: sticky;
}
h1{
    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    color: #FFFCFC;
}
h2{
    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;

    color: #FFFCFC;
}

 /*diseño menú*/
.menu{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #8D425D;
    width: 100%;
    height: 7vh;
    position: sticky;
}
.busqueda{
  background-color: #ffffff;
  float: right;
  height: 4vh;
  width: 16vw;
  margin-top: 9px;
  margin-right: 6px;
  border: solid;
  border-radius: 5px;

  font-size: 16px;
}
li {
  border-bottom:1px solid #8D425D;
  overflow: hidden;
  text-align: center;
  color: #FFFCFC;
  font-size: 16px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: -webkit-sticky; /* Safari */
  position: sticky;

}
.nav li a{
    background-color: #8D425D;
    color: #000000;
    text-decoration: none;
    padding: 15px 15px;
    display: block;
}
.nav li a:hover{
    background-color: #E6C8C6;
}
.nav > li{
    float: left;
}
.nav li ul{
    display:none;
    position:absolute;
    min-width: 140px;
}
.nav li:hover > ul{
    display: block;
}
.nav li ul li{
    position: relative;
}
.nav li ul li ul{
    right: -140px;
    top: 0px;
}

/* Button */

button {
  float: right;
  margin-top: 8px;
  margin-right: 6px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQcMqFzZDuTAwuRq080mQgG5nU3zMqUQyohvVZBfyTJClQxCi06);
  background-size: contain;
}


/*Diseño para la caja de contenido*/
article{
  padding: inherit;
  justify-content: center;

  background-image: url("schroddinger-cats.jpg");
  width: 100%;
  height: 170vh;
}

div.wrap {
  background-color: transparent;
  display: flex;
  margin-right: 90px;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: auto;
  height: 130vh;
  overflow-x: hidden;
  overflow-x:auto;
}

/*Diseño para area de Cable interdimensional*/
.inter{
    width: 100%;
    height: 100vh;
    background-image: url("https://i.imgflip.com/1mqus2.jpg");
}
iframe {
	position: absolute;
	top: 0;
    left: 0;
	width: 560px;
    height: 315px;
}
/*Diseño pie de página*/
footer{
    width: 100%;
    height: 10vh;
}
address{
    text-align: center;
    color: #E6C8C6;
}


/*Diseño para la modal box*/
.modal-window {
  position: fixed;
  background-color: rgba(168, 163, 163, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-window:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-window>div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 2rem;
  background: #040404;
  color: #ffffff;
}

.modal-window header {
  font-weight: bold;
}

.modal-close {
  color: #2b6034;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.modal-close:hover {
  color: #5f7e3e;
}

.modal-window h3 {
  font-size: 150%;
  margin: 0 0 15px;
  color: #2b6034;
  text-align: center;
}
.modal-window img{
    width: 60%;
}